<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.entregapp.specialepizzaria"
    version     = "1.0.4" >
	<name>Speciale Pizzaria</name>
        <description>
           Faça seu pedido pelo celular, com rapidez e praticidade Speciale Pizzaria By Sistema Entregapp..
        </description>
        <author email="eduardonaleves@gmail.com" href="http://entregapp.com.br">
            Eduardo Alves
        </author>
         <feature name="debug-server" required="false">
            <param name="domain" value="http://localhost/apps/master/"/>
            <param name="key" value="com.entregapp.specialepizzaria"/>
          </feature>
          <plugin name="io.litehelpers.cordova.sqlite" spec="0.7.10" source="pgb" />

        <gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.8" />
        <plugin name="com.indigoway.cordova.whitelist.whitelistplugin" spec="1.1.1" source="pgb" />
        <preference name="Fullscreen" value="false" />
        <preference name="WebViewBounce" value="true" />
        <feature name="http://api.phonegap.com/1.0/geolocation"/>
        <icon src="icon.png" />
        <gap:splash src="splash.png" />
</widget>
